<!DOCTYPE html>
    <html lang="fr">
      <head>
        <meta charset="utf-8">
        <title>Ultra Political Tournament : Clash of Titans</title>
        <link rel="stylesheet" href="{{ asset('assets/css/ie.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/print.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/screen.css') }}">qzeg
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
      </head>
      <body>
      
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
