{% extends 'AppBundle::base_jeu.html.twig' %}

{% block body %}
    {% include 'AppBundle::Default/header.html.twig' with {'user': user.userPrenom } %}
    <div class="jeu">

        <div class="tapis">
            <a href="classement.html" class="lien_gauche"><</a>
            <a href="profil.html" class="lien_droit">></a>

            <div class="pages">
                <h2>Mes tournois</h2>
                <hr>
                <table>
                    <tr id="entete">
                        <td>Nom</td>
                        <td>Date</td>
                        {#<td>Score</td>#}
                    </tr>

                    {% for tournois in user.tournois if tournois.tournoisDateFin == null %}
                        <tr>
                            <td><a href="{{ path('afficher_tournois', {'id':tournois.id}) }}">{{ tournois.tournoisNom }}</a></td>
                            <td>{{ tournois.tournoisDateDebut|date }}</td>
                            {#<td>25</td>#}
                        </tr>
                    {% endfor %}
                </table>
                <a href="{{ path('tournois_homepage') }}"> <button>Retour</button></a>

            </div>

        </div>
        {% include 'AppBundle::Default/image_plateau.html.twig'%}
    </div>

{% endblock %}