<div class="regles">
    <header>
        <h2>Règles du jeu</h2>
        <button id="fermeture" type="button">X</button>
    </header>
    <div class="regles_content">
        <h3>But du jeu</h3>
        <p>Vous êtes un conseiller d’homme politique, vous devez aider les dirigeants à garder le pouvoir en complétant les suites de cartes pour chaque dirigeant.</p>
        <p>En tant que conseiller votre rôle est d’accumuler les cartes « actions » numérotées sur chaque dirigeant pour marquer un maximum de point et les menez à un pouvoir prospère mais prenez garde le pouvoir corrompt !</p>
        <h3>Comment jouer ?</h3>
        <h4>1. Tour du joueur</h4>
        <p>Chaque conseiller commence avec 8 cartes en main.</p>
        <p> Le tour d’un conseiller se compose de 2 étapes :</p>
        <p>
            - Jouez une carte <br>
            - Prendre une carte
        </p>
        <h4>2. Jouez une carte</h4>
        <p>Lors de votre tour, vous pouvez :</p>
        <p>Placer une carte « actions » ou « Hauts-faits » sur une zone de mandat. La carte y restera jusqu’à la fin de la partie. Poser une carte sur une zone de mandat doit être obligatoirement fait en ordre croissant. Les cartes ne doivent pas nécessairement se suivre.</p>
        <p>-Défausser sur un dirigeant correspondant. Vous pouvez défausser si vous ne souhaitez pas posez de carte sur une zone de mandat. Il y a une pile de défausse par dirigeant.</p>
        <p>- Les cartes « Hauts-faits » : Représentés par les bordures dorées, ces cartes doivent être posées en premier sur les zones de mandat, avant les cartes de valeur. Elles permettent de doubler, tripler, quadrupler (Pour 1,2 3 cartes bonus) vos gains ou... vos pertes.</p>
        <h4>3. Prendre une carte</h4>
        <p>- De la pioche</p>
        <p>- Ou d'une des piles de défausse des dirigeants</p>
        <p>/!\ Il est interdit de prendre une carte que vous avez défaussée dans le même tour de jeu !</p>
        <h4>4. Fin de partie / Comptage de point</h4>
        <p>La partie se termine lorsqu'un joueur prend la dernière carte de la pioche.</p>
        <p>Chaque zone de mandat sur lesquelles au moins une carte « actions » a été posé coûte 20 points, ce coût est retiré à la valeur totale des cartes posées sur cette zone.
            Le résultat est ensuite multiplié par le nombres de cartes « Hauts-faits » (x2, x3 ou x4)
            Le score final est le total des points marqué pour les cinq dirigeants.</p>
        <p>Exemple de comptage :</p>
        <p>2 cartes « Hauts-faits » + 5 +9 +10 <br>-24 moins 20 (coût du conseil)<br>= 4 * 3 (2 cartes « Hauts-faits »)<br>= 12 points </p>
        <p>1 carte « Hauts-faits » + 4 +5 +9 <br>-18 moins 20 (coût du conseil)<br>= -2 * 2 (1 carte « Hauts-faits »)<br>= -4 points</p>
        <h4>5. Conseils</h4>
        <p>Un dirigeant non conseillé ne coûte aucun point, vous n’êtes pas obligés de les conseiller tous.
            Faites attentions au temps, un dirigeant mal conseillé et vous aurez des points négatifs !  </p>
        <h4>6. Répartition des cartes</h4>
        <p>Pour chaque dirigeant il y a : <br>
            - 1 carte « actions » de chaque valeur de 2 à 10 <br>
            - 3 cartes « Hauts-faits » (bordure dorée)</p>
    </div>
</div>